<h1 class="text-center text-white mt-2 p-3">Transcation history</h1>
<div class="container text-center text-white mt-2 p-3 w-50">
    <table style="font-size: 30px; ">
        <thead>
            <tr>
                <th>Type</th>
                <th> Amount</th>
               </tr>
          </thead>
          <tbody>
           <tr *ngFor="let i of transcations" style="font-size:20px ;">

            <td>{{i.type}}</td>
            <td>{{i.amount}}</td>
           </tr>

          </tbody>
          <!-- <tbody>
           <tr style="font-size: 20px;">
            <td><b>DEBIT</b></td>
            <td><b>2000</b></td>

           </tr>

          </tbody> -->
     </table>
      </div>
      <div class="container mt-2 p-3 text-center">
        <a style="font-size:27px ; color:white" routerLink="/dashboard">Home page</a>
     </div>
   